*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
}

.container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:250px;
    background:#343a40;
    color:white;
    padding:20px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:15px;
    border-radius:5px;
    cursor:pointer;
}

.sidebar li:hover{
    background:#495057;
}

.active{
    background:#0d6efd;
}

.content{
    flex:1;
    padding:30px;
}

.content h1{
    margin-bottom:20px;
}

.top-bar{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.top-bar input{
    flex:1;
    padding:10px;
}

button{
    padding:10px 15px;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

.add-btn{
    background:#198754;
    color:white;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th{
    background:#0d6efd;
    color:white;
}

th, td{
    padding:12px;
    border:1px solid #ddd;
    text-align:center;
}

.normal{
    color:green;
    font-weight:bold;
}

.warning{
    color:orange;
    font-weight:bold;
}

.danger{
    color:red;
    font-weight:bold;
}